<div class="col-lg-8 container label-info">
    <div class="panel-group ">
        <div class="col-sm-12 panel-heading"><h1>{{newUser.title}}. {{newUser.first}} {{newUser.last}}</h1></div>
        <div  class="col-sm-12 panel-info"><img class="col-sm-4 img-rounded" src="{{newUser.picture.large}}">
        <div class="col-sm-8"> <ul class="list-group">
                <li class="list-group-item">Gender: {{newUser.title}}</li>
                <li class="list-group-item">Street: {{newUser.street}}</li>
                <li class="list-group-item">City: {{newUser.city}}</li>
                <li class="list-group-item">State: {{newUser.state}}</li>
                <li class="list-group-item">Zip: {{newUser.zip}}</li>
                <li class="list-group-item">Email: {{newUser.email}}</li>
                <li class="list-group-item">Phone {{newUser.phone}}</li>
                <li class="list-group-item">Cell {{newUser.cell}}</li>

            </ul>
        </div>
        </div>
    </div>    
</div>

